/build
/.gradle
/local.properties
/.idea
*.iml
/.idea/
/.DS_Store
/captures
.externalNativeBuild
/app/build
/gradle-app.setting
.gradle
gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties
